@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body{
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.slogan{
    display: flex;
    justify-content: center;
    color: #6d6dff;
    margin: inherit;
    font-weight: 100;
}
.sign-up-btn-container{
    display: flex;
    justify-content: center;
    margin-top: 21rem;
}

.sign-up-btn{
    flex-direction: column;
    cursor: pointer;
    font-family: poppins;
    font-weight: 600;
    width: 8rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    background: #726efd;
    color: #fff;
}

.sign-up-btn:hover{
    background: #635ef9;
}

.sign-in-container{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.sign-in-container > span{
    color: #6d6dff;
}

span, .sign-in-link{
    font-size: 1rem;
}

/* home page */

.home-page-body{
    background-color: #edf1ff;
}

.fa-circle-user{
    display: flex;
    margin: 1rem;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    background: #6d6dff;
    color: #fff;
    margin-top: 1rem;
    display: flex;
    width: 19rem;
    height: 8rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}


.tab-bar{
    overflow: hidden;
    background-color: #ffffff;
    /* border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    box-shadow:0 15px 10px rgba(0,0, 0, 0.16),
    0 3px 6px rgba(0,0, 0, 0.16);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* home page tasks section */

.home-page-tasks-container{
    margin-top: 4rem;
}


.tasks-btn-container{
    display: flex;

}

.tasks-btn{
    margin: 1rem 0rem 0rem 1rem;
    padding: 1rem;
    width: 7rem;
    font-family: 'poppins';
    font-weight: 600;
    background: #6d6dff;
    color: #fff;
    border: none;
    border-radius: 2rem;
}

.home-page-tasks-heading{
    margin: 1rem;
}

.task-li-item{
    list-style: none;
    margin-left: 1rem;
    min-height: 1em;
    min-width: 22rem;
    padding: 1rem;
    min-height: 5rem;
    background-color: #ffffff;
    border: none;
    border-radius: 1rem;
    font-family: 'poppins';
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-li-item > .fa-list{
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.list.active{
    background-color: #6d6dff;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    transition: transform 1s ease-out;

}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: initial;
}

li{
    list-style: none;

}


@media (min-width: 800px) {
    img{
        width: 500px;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .sign-up-btn-container{
        margin-top: 4rem;
    }
}

/* .container{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 3rem;
    width: 65rem;
    min-height: 35rem;
}

.todo{
    background-color: lightskyblue;
    width: 33%;
    position: relative;
    left: 273px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.month-container{
    border-radius: solid red 2px;
    height: 2rem;
}

.month{
    border: solid red 2px;

}

p{
    font-size: larger;
} */