<div class="events-container">
  <aside class="events-aside">
    <section class="events-list-section">
      <div class="date">
        <p class="font-bold"></p>
      </div>
      <div class="eventsList">
        <% events.forEach( el => { %>
                <div class='eventItem' data-id='<%=el.id%>'>
                  <div>
                    <span class="title"><%= el.eventTitle %></span>
                    <span class="description"><%= el.eventDescription %></span>
                  </div>
                    <form action="/events/deleteEvent/<%=el._id%>?_method=DELETE" method="POST" class="col-3">
                      <div class="todoListIcons">
                          <button class="fa-solid fa-trash del" type="submit"></button>
                          <i class="fa-solid fa-circle-info openDetailsModal"></i>
                      </div>
                  </form>
                </div>                    
        <% }) %>    
    </div>
      <button class="open-events-modal btn">Add Event</button>
    </section>
  </aside>
</div>