<!-- Modal -->
  <div aria-hidden="true" class="detailsModal">
    <div class="modal">
      <!-- Modal content -->
      <div class="modal-content-container">
        <div class="modal-content">
          <h3>Todo Details</h3>
          <form action="/todos/edit" class="">
            <div>
              <label class="modal-label"></label>
              <input
                type="text"
                name="todoItem"
                class="modal-input todo"
                placeholder=""
                required
              />
            </div>
            <div>
              <label class="modal-label"></label>
              <input
                type="text"
                name="todoDescription"
                class="modal-input todo-description"
                placeholder=""
              />
            </div>
            <div>
              <label for="dueDate" class="modal-label"></label>
              <input type="date" name="dueDate" class="modal-input due-date" />
            </div>
            <div>
              <label for="Priority" class="modal-label"></label>
              <select name="priority" class="model-select">
                <option class="priority" value=""></option>
                <option class="priority" value=""></option>
                <option class="priority" value=""></option>
              </select>
            </div>
            <div>
              <label for="List Type" class="modal-label"></label>
              <select name="listType" class="model-select">
                <option class="list-type" value=""></option>
                <option class="list-type" value=""></option>
                <option class="list-type" value=""></option>
              </select>
            </div>
            <button type="submit" class="closeDetailsModal">Close</button>
            <button type="submit" class="update">Update</button>
        </form>
        </div>
      </div>
    </div>
  </div>
