<!-- Modal -->
<div aria-hidden="true" class="events-modal">
    <div class="modal">
      <!-- Modal content -->
      <div class="modal-content-container">
        <button type="submit" class="close-events-modal fa-solid fa-xmark"></button>
        <div class="modal-content modal-header">
          <h3>Add Event</h3>
          <form action="/events/createEvent" method="POST" class="">
            <div>
              <label class="modal-label">Event</label>
              <input
                type="text"
                name="eventTitle"
                class="modal-input"
                placeholder="Event"
                required
              />
            </div>
            <div>
              <label class="modal-label">Event Description</label>
              <textarea
                type="text"
                name="eventDescription"
                rows="4"
                cols="30"
                class="modal-input"
                placeholder="Event Description"
                col
              ></textarea>
            </div>
            <div>
              <label class="modal-label">Start Time</label>
              <input
                type="time"
                name="startTime"
                class="modal-input"
                placeholder="Start Time"
              />
            </div>
            <div>
              <label class="modal-label">End Time</label>
              <input
                type="time"
                name="endTime"
                class="modal-input"
                placeholder="End Time"
              />
            </div>
            <div>
              <label for="create-date" class="modal-label">Date</label>
              <input class="modal-input" type="date" name="date" id="create-date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date().toISOString().slice(0, 10) %>" required>
            </div>
            <button type="submit" class="add-event-btn">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  