<nav class="navbar">
  <i class="fa-solid fa-bars" onclick="openSideMenu()"></i>
  <ul class="navbar-nav">
    <li><a href="/todos">Todos</a></li>
    <li><a href="/events">Calendar</a></li>
    <li><a href="/pomodoro">Pomodoro</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>

<div id="side-menu" class="side-nav"> 
  <a href="#" class="close-btn" onclick="closeSideMenu()">&times;</a>
  <a href="/todos">Todos</a>
  <a href="/pomodoro">Pomodoro</a>
  <a href="/events">Calendar</a>
  <a href="/logout">Logout</a>
</div>
