<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <body class="calendar-page-body">
        <h1 class="calendar-type-name">What is this Calendar for?</h1>
        <main class="calendar-container">
            <section class="calendar">
              <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">
                  <h1></h1>
                  <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
              </div>
              <section class="calendar-days">
                  <div>M</div>
                  <div>T</div>
                  <div>W</div>
                  <div>T</div>
                  <div>F</div>
                  <div>S</div>
                  <div>S</div>
              </section>
              <section class="calendar-dates">
                  <div class="days"></div>
              </section>
            </section>
        </main>
        <section class="events-and-tasks">
            <button class="events-btn">Events</button>
            <button class="events-btn">Tasks</button>
        </section>
</head>
<body>
    
</body>
</html>