<%-include("./partials/header.ejs")%>
<!DOCTYPE html>
<html lang="en">
  <body>
    <img src="/imgs/logo.png" class="logo" loading="lazy" alt="logo" />
    <div>
      <main class="index-main">
        <section class="slogan-section">
          <h1 class="slogan">Get more things done with, WorkFlow</h1>
          <p class="app-blurb">
            An all-in-one agenda to help streamline the organization of daily
            tasks, scheduling, deadlines, and goals. Keeping all of these
            important tasks in one place can help increase productivity and
            overall satisfaction.
          </p>
          <div class="index-btns">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
          </div>
        </section>
        <section class="image-section">
          <img
            src="/imgs/undrawTasks.svg"
            class="undraw-tasks-img"
            loading="lazy"
            alt=""
          />
        </section>
      </main>

      <section class="index-calendar">
        <section>
          <h1 class="slogan">An event calendar</h1>
          <p class="app-blurb">
            We all have different responsibilities and commitments that we need
            to tend to. With Workflows calendar, users can input information
            about upcoming events to help keep track of their schedule.
          </p>
        </section>
        <section class="image-section">
          <img src="/imgs/undrawCalendar.svg" loading="lazy" alt="calendar" />
        </section>
      </section>

      <section class="index-todo">
        <section>
          <h1 class="slogan">A Multi-list To-do List</h1>
          <p class="app-blurb">
            It can be tough trying to manage numerous tasks at once. However,
            Workflow makes this easier by allowing users to create to-do lists
            based on different categories of their life (Work, School,
            Personal), and keep track of their progress.
          </p>
        </section>
        <section class="image-section">
          <img src="/imgs/undrawTodo.svg" loading="lazy" alt="todo list" />
        </section>
      </section>

      <section class="index-pomodoro">
        <section>
          <h1 class="slogan">Pomodoro Timer</h1>
          <p class="app-blurb">
            Workflow also includes a Pomodoro timer that will help you focus and
            accomplish more in a shorter time frame. Using this timer can help
            you avoid burnout and break your work down into manageable chuncks.
          </p>
        </section>
        <section class="image-section">
          <img src="/imgs/undrawClock.svg" loading="lazy" alt="alarm clock" />
        </section>
      </section>
    </div>
    <button class="scroll fa-solid fa-angle-up"></button>
    <%-include("./partials/footer.ejs")%>
    <script src="/js/index.js"></script>
  </body>
</html>
