<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">  
    <link rel="stylesheet" href="/styles.css">
    <title>Welcome</title>
</head>
<body>
    <img src="/images/logo.png" class="logo" alt="logo">
    <main class="index-wrapper">
        <div class = "slogan-wrapper">
            <h1 class="slogan">Get more things done with, WorkFlow</h1>
            <p class="app-blurb">An all-in-one agenda to help streamline the organization of daily tasks, scheduling, deadlines, and goals. Features include multi-purpose calendars, to-do lists, reminders, and a built-in Pomodoro timer to maximize productivity.</p>
        </div>
        <section class="sign-up-btn-container">
            <a href="/login" class="login-btn">Login</a>
            <a href="/signup" class="signup-btn">Signup</a>
        </section>
    </main>
</body>
</html>