<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/211eaa680e.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="main-page-btn-section">
        <a href="/" class="main-page-link">
            <i class="fa-solid fa-arrow-left-long"></i> <span>Back to main</span>
        </a>
    </section>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <img src="/images/logo.png" class="logo" alt="logo">
    <main class="login-wrapper">
        <div class="login-headings">
            <h1>Welcome back.</h1>
            <h2>Let's log you in</h2>
        </div>
        <form action="/login" method="POST" class="login-form">
            <div class="login-form-items">
                <input type="email" name="email" placeholder="Email"> 
                <input type="password" name="password" placeholder="Password">
                <input type="submit">
            </div>
        </form>
    </main>
</body>
</html>