<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/211eaa680e.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="main-page-btn-section">
        <a href="/" class="main-page-link">
            <i class="fa-solid fa-arrow-left-long"></i> <span>Back to main</span>
        </a>
    </section>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <img src="/imgs/logo.png" class="signup-and-login-logo" alt="logo">
        <main class="wrapper">
            <div class="headings">
                <h1>Welcome back</h1>
                <span>Please Enter Your Details</span>
            </div>
            <form action="/login" method="POST" class="login-form">
                    <label for="Email">Email</label>
                    <input type="email" name="email" placeholder="Email"> 
                    <label for="Password">Password</label>
                    <input type="password" name="password" placeholder="Password" autocomplete="off">
                    <input type="submit" value="Login" class="btn">
            </form>
        </main>
</body>
</html>