<%-include("./partials/header.ejs")%>
<%-include("./partials/nav.ejs")%>
<!DOCTYPE html>
  <body>
    <header class="pomodoro-header">
      <section class="heading-section">
        <h1 class="pomodoro-heading">Pomodoro Timer</h1>
        <h1>What is the Pomodoro technique?</h1>
        <h2>
          The Pomodoro technique is a time-management tool that's supposed to
          help you focus and efficiently complete tasks to maximize productivity.
        </h2>
      </section>
      <section class="header-img">
        <img src="/imgs/clock.png" alt="person holding clock" />
      </section>
    </header>
    <div class="timer">
      <section>
        <h1>How does it work?</h1>
        <h2>
          Set a 25-minute timer to work on a single task and then take a
          5-minute break once the 25-minutes is over. After four 25-minute
          intervals, take a 15-minute break.
        </h2>
      </section>
      <div class="timer-controls">
        <button data-time="1500" class="timer-btn">25 minutes</button>
        <button data-time="300" class="timer-btn">Short Break</button>
        <button data-time="900" class="timer-btn">Long Break</button>
        <!-- <form name="customForm" id="custom">
                <input type="text" name="minutes" placeholder="Enter Minutes">
            </form> -->
      </div>
      <div class="display">
        <h1 class="display-time-left"></h1>
        <p class="display-end-time"></p>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>