<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/211eaa680e.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="main-page-btn-section">
        <a href="/" class="main-page-link">
            <i class="fa-solid fa-arrow-left-long"></i> <span>Back to main</span>
        </a>
    </section>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <img src="/images/logo.png" class="logo" alt="logo">
    <main class="wrapper">
        <div class="headings">
            <h1>Create your account</h1>
            <span>Let's get you started</span>
        </div>
        <form action="/signup" method="POST" class="signup-form">
            <label for="User name">User Name</label>
            <input type="text" name="userName" placeholder="User Name">
            <label for="Email">Email</label>
            <input type="email" name="email" placeholder="Email">
            <label for="Password">Password</label>
            <input type="password" name="password" placeholder="Password">
            <label for="Confirm Password">Confirm Password</label>
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit" placeholder="Create Account" class="btn">
        </form>
    </main>
</body>
</html>