* {
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background: linear-gradient(37deg, rgb(74 22 132) 45%, rgb(20 53 136) 92%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  overflow: overlay;
}

::-webkit-scrollbar {
  border: none;
  background-color: transparent;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #ff7078;
  cursor: pointer;
  border-radius: 1rem;
}

.logo {
  width: 7rem;
}

.undraw-tasks-img {
  display: none;
}

.index-btns > a {
  text-decoration: none;
  border-radius: 0.2rem;
  color: #fff;
  background: #ff7078;
  border: none;
  box-shadow: 0px 0px 16px 2px rgb(255 127 139 / 75%);
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}

.slogan-section,
.index-calendar,
.index-todo,
.index-pomodoro {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: calc(100vh - 7rem);
  padding: 0rem 1rem 0rem 1rem;
}

.slogan {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 3rem;
}

.app-blurb {
  font-weight: 300;
  color: #fff;
}

.image-section > img {
  width: -webkit-fill-available;
  margin-top: 2rem;
  padding: 1rem;
}

/* login and sign up pages */

.signup-and-login-logo {
  width: 17rem;
  margin: 0 auto;
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  background: #856e9fa6;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 50%;
}

.sign-up-btn-container {
  margin-top: 1rem;
}

.sign-up-btn-container > a {
  margin-left: 1rem;
}

.btn {
  text-decoration: none;
  border-radius: 0.2rem;
  color: #fff;
  background: #ff7078;
  border: none;
  box-shadow: 0px 0px 16px 2px rgb(255 127 139 / 75%);
  cursor: pointer;
  width: auto;
  margin-top: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}

.btn:hover {
  background: #fa676e;
  color: #fff;
}

.main-page-btn-section,
.main-page-link {
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.headings {
  margin: 0 auto;
  color: #fff;
}

.headings > h1 {
  margin: 0 auto;
}

.headings > span {
  font-weight: 200;
}

.login-form-items input {
  border-radius: 0.3rem;
  border: solid 0.9px #7d7d7d;
  padding: 0.4rem;
  color: #fff;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin: 0 auto;
  gap: 0.7rem;
}

.login-form > input,
.signup-form > input {
  border-radius: 0.2rem;
  border: none;
  padding: 0.3rem;
}

.login-form > label,
.signup-form > label {
  display: flex;
  color: #fff;
  font-weight: 200;
}

/* navbar and dropdown */

.fa-bars {
  cursor: pointer;
  color: #fff;
  font-size: larger;
  margin: 0.5rem;
}

.navbar-nav {
  display: none;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 3rem;
  transition: 0.5s;
  background: aliceblue;
}

.side-nav a {
  padding: 1rem 1rem 1rem 2rem;
  font-size: 22px;
  color: #000000;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

.side-nav a:hover {
  color: #544def;
}

.side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  text-decoration: none;
}

.dropdown-btn {
  background: none;
  border: none;
  font-size: 22px;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
}

.fa-angle-right {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.rotate {
  transform: rotate(90deg);
}

.dropdown-container a {
  margin-left: 1rem;
  color: #143588;
  font-weight: 500;
  font-size: larger;
  padding-top: initial;
}

.dropdown-section {
  display: flex;
  align-items: center;
}

/* todo list */
.todosSectionContainer {
  position: fixed;
}

.todosHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todosHeading {
  color: #fff;
  margin: 1rem;
  font-size: xx-large;
}

.openModal {
  border-radius: 2rem;
  border: none;
  padding: 0.7rem;
  background: #ff7078;
  box-shadow: 0px 0px 16px 2px rgb(255 127 139 / 75%);
  color: #fff;
  cursor: pointer;
}

.openModal:hover {
  background: #fa676e;
}

.todoListContainer {
  display: flex;
  justify-content: center;
}

.todoList {
  background: #856e9fa6;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: -webkit-fill-available;
  overflow: auto;
}

.tag {
  font-size: small;
  width: fit-content;
  color: #d3d3d3ed;
  margin-top: 0.4rem;
}

.todoListIcons {
  display: flex;
  color: #d3d3d3ed;
  margin-top: 1rem;
}

.fa-trash {
  margin-right: 0.5rem;
  padding: 0;
  background: transparent;
  border: none;
  color: #d3d3d3ed;
  cursor: pointer;
}

.fa-trash:hover {
  color: #969696ed;
}

.todoItem {
  border-bottom: solid #b5afaf82 1px;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  display: flex;
  flex-direction: column;
}

.not {
  font-size: x-large;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0.5rem;
}

.evaluation {
  background: #856e9fa6;
  color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  height: auto;
  overflow: auto;
}

.evaluationHeading {
  margin: initial;
  color: #fff;
}

.evaluationItemsContainer {
  display: flex;
  flex-direction: row;
}

.itemsLeft {
  padding-right: 5rem;
}

.days {
  cursor: pointer;
}

/* calendar */

.cal-aside-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: max-content;
}

.calendar-container {
  background: #856e9fa6;
  border-radius: 0.5rem;
  min-height: 25rem;
  margin: 1rem;
}
.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}
.month {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: medium;
  color: white;
}
.date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: small;
  color: white;
}
.fa-angle-left,
.fa-angle-right {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  text-align: center;
  height: 19rem;
  font-weight: 600;
}
.calendar-days {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  color: #fff;
  font-weight: 700;
}
.calendar-dates {
  background: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.today {
  background: #685696;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}
.prev-date,
.next-date {
  color: black;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-aside {
  background-color: #fff;
  width: 20.5rem;
  height: 34rem;
  border-radius: 0.5rem;
}

.events-list-section {
  background-color: #685696;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow: auto;
}

.events {
  background: #544def;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.date {
  padding-bottom: 1rem;
}

.eventItem {
  border-bottom: solid #b5afaf82 1px;
}

.eventItem > div {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  width: fit-content;
  color: #fff;
  margin-top: 0.4rem;
}

.description {
  color: #d3d3d3ed;

  margin-top: 0.5rem;
}

/* pomodoro page */

.pomodoro-header {
  background: #6a5496;
  color: #fff;
  padding: 1rem;
}

.heading-section {
  flex-direction: column;
  padding: 1rem;
}

.pomodoro-heading {
  font-size: 3rem;
  margin: 0;
}

.pomodoro-heading > h1 {
  font-size: 1.5rem;
}

.pomodoro-header > section > h2 {
  font-size: larger;
  font-weight: 250;
}

.timer {
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.timer h1 {
  font-size: xx-large;
}

.timer h2 {
  font-size: larger;
  font-weight: 200;
}

.display {
  background: #6a5496;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: -webkit-fill-available;
  display: none;
}

.timer-controls {
  display: flex;
}

.timer-btn {
  border-radius: 0.5rem;
  color: #fff;
  background: #ff7078;
  border: none;
  box-shadow: 0px 0px 16px 2px rgb(255 127 139 / 75%);
  cursor: pointer;
  width: max-content;
  margin: 0.5rem;
  font-size: larger;
  font-weight: 400;
  padding: 0.5rem;
}

.timer-btn:hover {
  background: #fa676e;
}

.display-time-left {
  font-size: 5rem;
  margin: 0;
}

.display p {
  margin: 0;
}

/* modals */

.todoModal,
.detailsModal,
.list-type-modal,
.events-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content-container {
  border-radius: 0.5rem;
  background-color: #d14c4c;
}

.modal-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
}

.modal-label {
  display: block;
  margin-bottom: 1rem;
  font-size: medium;
  color: black;
}

.modal-input {
  background: white;
  border: peru;
  color: black;
  font-size: small;
}

.modal-select {
  background-color: grey;
  border: darkcyan;
  color: #000000;
  font-size: small;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  .index-main {
    display: flex;
    align-items: center;
  }

  .slogan {
    font-size: 4.5rem;
  }

  .signup-and-login-logo {
    max-width: 16rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 1rem;
  }

  .index-calendar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: inherit;
  }

  .index-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: inherit;
  }

  .index-pomodoro {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: inherit;
  }

  .slogan-section {
    width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: inherit;
  }

  .undraw-tasks-img {
    display: block;
  }

  .image-section {
    width: 50%;
    padding: 1rem;
    display: block;
  }

  .wrapper {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    width: 50%;
    height: 50%;
  }

  .idkk {
    display: flex;
    justify-content: center;
  }

  .navbar {
    color: #fff;
    overflow: hidden;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #6a5496;
  }

  .navbar .navbar-nav {
    display: flex;
    padding: 1rem;
  }

  .navbar a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
  }

  .navbar a:hover {
    color: #ff7078;
  }

  .navbar-nav li {
    list-style: none;
  }

  .dropdown {
    display: none;
    position: absolute;
    background: #544def;
    margin: 0.9rem 0rem 0rem -0.5rem;
    border-top: #fff solid;
    padding: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .todos-dropdown:hover .dropdown {
    display: block;
  }

  .dropdown li a {
    display: flex;
  }

  .todosSectionContainer {
    margin: 0 auto;
    width: -webkit-fill-available;
  }

  .todosHeadingContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .todoListContainer {
    display: flex;
    justify-content: flex-start;
  }

  .todoList {
    height: 30rem;
  }

  .calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
  }

  .days {
    height: 34rem;
  }

  .cal-aside-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .events-aside {
    width: 25rem;
    height: 41.1rem;
  }

  .display {
    width: 23rem;
  }

  .timer h2 {
    padding: 0rem 12rem 0rem 12rem;
  }

  .pomodoro-header {
    display: flex;
  }

  .pomodoro-header > section {
    width: 50%;
  }

  .header-img {
    display: flex;
    justify-content: space-around;
  }
}
