* {
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background: linear-gradient(37deg, rgb(74 22 132) 45%, rgb(20 53 136) 92%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.logo {
  width: -webkit-fill-available;
}

.index-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 24rem;
  width: 100%;
}

.slogan-wrapper {
  color: #000000;
}

.login-btn {
  padding-right: 1rem;
}

.login-btn,
.signup-btn {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 1rem;
  color: #fff;
  background: #544def;
  font-weight: 500;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover {
  color: #b6b3f8;
}

/* navbar and dropdown */

.fa-bars {
  cursor: pointer;
  color: #fff;
  font-size: larger;
  margin: 0.5rem;
}

.navbar-nav {
  display: none;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 3rem;
  transition: 0.5s;
  background: aliceblue;
}

.side-nav a {
  padding: 1rem 1rem 1rem 2rem;
  font-size: 22px;
  color: #000000;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

.side-nav a:hover {
  color: #544def;
}

.side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  text-decoration: none;
}

.dropdown-btn {
  background: none;
  border: none;
  font-size: 22px;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
}

.fa-angle-right {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.rotate {
  transform: rotate(90deg);
}

.dropdown-container a {
  margin-left: 1rem;
  color: #143588;
  font-weight: 500;
  font-size: larger;
  padding-top: initial;
}

.dropdown-section {
  display: flex;
  align-items: center;
}

/* calendar */

.cal-aside-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.calendar-container {
  background: #6d6dff;
  border-radius: 0.5rem;
  min-height: 25rem;
  margin: 1rem;
}
.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}
.month {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: medium;
  color: white;
}
.date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: small;
  color: white;
}
.fa-angle-left,
.fa-angle-right {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  text-align: center;
  height: 19rem;
  font-weight: 600;
}
.calendar-days {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}
.calendar-dates {
  background: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.today {
  background: #6d6dff;
  justify-content: center;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
.prev-date,
.next-date {
  color: black;
}

.events-container {
  display: flex;
  flex-direction: column;
}

.events-aside {
  background-color: #fff;
  width: 20.5rem;
  height: 34rem;
  border-radius: 0.5rem;
}

.events-list-section {
  background-color: #6d6dff;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow: auto;
}

.events {
  background: #544def;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.date {
  padding-bottom: 1rem;
}

.calendar-filters {
  background-color: #544def;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-overflow: auto;
}

.calendar-filter-heading {
  color: #fff;
  text-decoration: underline;
}

.filter {
  color: #fff;
}

/* modal */

.todoModal,
.detailsModal,
.list-type-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content-container {
  border-radius: 0.5rem;
  background-color: #d14c4c;
}

.modal-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
}

.modal-label {
  display: block;
  margin-bottom: 1rem;
  font-size: medium;
  color: grey;
}

.modal-input {
  background: gray;
  border: peru;
  color: black;
  font-size: small;
}

.modal-select {
  background-color: grey;
  border: darkcyan;
  color: #000000;
  font-size: small;
}

/* todo list */
.todosSectionContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.todosHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todosHeading {
  color: #fff;
  margin: 1rem;
  font-size: xx-large;
}

.openModal {
  border-radius: 2rem;
  border: none;
  padding: 0.7rem;
  background: linear-gradient(29deg, rgb(112 15 219) 45%, rgb(0 64 228) 92%);
  color: #fff;
  box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
  cursor: pointer;
}

.openModal:hover {
  opacity: 0.8;
}

.todoListContainer {
  display: flex;
  justify-content: center;
}

.todoList {
  background: #856e9fa6;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 21rem;
  height: auto;
  overflow: auto;
}

.tag {
  font-size: small;
  width: fit-content;
  color: #d3d3d3ed;
  margin-top: 0.4rem;
}

.todoListIcons {
  display: flex;
  color: #d3d3d3ed;
  margin-top: 1rem;
}

.fa-trash {
  margin-right: 0.5rem;
}

.todoItem {
  border-bottom: solid #b5afaf82 1px;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  display: flex;
  flex-direction: column;
}

.not {
  font-size: x-large;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0.5rem;
}

.evaluation {
  background: #856e9fa6;
  color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  height: auto;
  overflow: auto;
}

.evaluationHeading {
  margin: initial;
  color: #fff;
}

.evaluationItemsContainer {
  display: flex;
  flex-direction: row;
}

.itemsLeft {
  padding-right: 5rem;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .index-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    width: auto;
  }

  .logo {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
  }

  .calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
  }

  .days {
    height: 34rem;
  }

  .cal-aside-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .events-aside {
    width: 25rem;
    height: 41.1rem;
  }

  .navbar {
    color: #fff;
    overflow: hidden;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #544def8c;
  }

  .navbar .navbar-nav {
    display: flex;
    padding: 1rem;
  }

  .navbar a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
  }

  /* .navbar a:hover {
    color: #544def;
  } */

  .navbar-nav li {
    list-style: none;
  }

  .dropdown {
    display: none;
    position: absolute;
    background: #544def;
    margin: 0.9rem 0rem 0rem -0.5rem;
    border-top: #fff solid;
    padding: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .todos-dropdown:hover .dropdown {
    display: block;
  }

  .dropdown li a {
    display: flex;
  }

  .todosSectionContainer {
    margin: 0 auto;
  }

  .todosHeadingContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .todoListContainer {
    display: flex;
    justify-content: flex-start;
  }

  .todoList {
    background: #856e9fa6;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: -webkit-fill-available;
    height: 30rem;
    overflow: auto;
  }
}
